{% load static %}
<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_35809f388aae40589af943d6540f3e82 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .manzil:hover{
                    border: 1px solid white;
                    border-radius: 15px;
                }
            </style>
        
</head>
<body>    
    <div class="asos-orqaga1" style="background-color: rgb(12, 156, 142);"><a class="btn asos-orqaga" href="{% url 'about' %}"  style="display: flex; justify-content: center;"> 
        <div class="row" style="display: flex; flex-flow: row; align-items: baseline; justify-content: center;">
            <div style="width: 40px;">
                <img src="{% static 'blog/img/icon/orqaga.png' %}" alt="" height="20rem" max-width="10%">
            </div>
            <div class="asos-orqaga2" style="font-size: 20px; padding-left: 10px; letter-spacing: 2px; color: white;">
                orqaga
            </div>
        </div>
            
    </a></div>
        <!-- <div class="col-8 mt-3 pl-5" style="height: 600px; width: 80%;"> -->
            <div class="folium-map" id="map_35809f388aae40589af943d6540f3e82" ></div>
        <!-- </div> -->
       
</body>
<script>    
    
            var map_35809f388aae40589af943d6540f3e82 = L.map(
                "map_35809f388aae40589af943d6540f3e82",
                {
                    center: [40.359673, 71.27584],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            
            var tile_layer_96c8ed05a6ea453c85a1a1b2f11b5b47 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_35809f388aae40589af943d6540f3e82);
        
    
            var feature_group_9d5d4d796a17401c9f852c32425cc895 = L.featureGroup(
                {}
            ).addTo(map_35809f388aae40589af943d6540f3e82);
        
    
            var marker_62926f4068cf4c608b54fe3e81455d08 = L.marker(
                [40.359673, 71.27584],
                {}
            ).addTo(feature_group_9d5d4d796a17401c9f852c32425cc895);
        
    
            var icon_dbc68943e05b4c5292cf63a309686022 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_62926f4068cf4c608b54fe3e81455d08.setIcon(icon_dbc68943e05b4c5292cf63a309686022);
        
    
        var popup_f463bfa0d0624168899a63bccc435d53 = L.popup({"maxWidth": "100%"});

        
            var html_07cee1dc282a4f23bbbf9161ee005b37 = $(`<div id="html_07cee1dc282a4f23bbbf9161ee005b37" style="width: 100.0%; height: 100.0%;">Rishton tuman Davlat xizmatlari markazi</div>`)[0];
            popup_f463bfa0d0624168899a63bccc435d53.setContent(html_07cee1dc282a4f23bbbf9161ee005b37);
        

        marker_62926f4068cf4c608b54fe3e81455d08.bindPopup(popup_f463bfa0d0624168899a63bccc435d53)
        ;

        
    
</script>
<script src="{% static 'blog/js/jquery-slim.min.js' %}"></script>
<script src="{% static 'blog/js/popper.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.js' %}"></script></body>