{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %}
    <title>Siz uchun foydali videolar sahifasi</title>
{% endblock %}

{% block menu %}

    <ul class="nav navbar-nav">
    <div>
        <div class="nav navbar-nav">
            <li><a href="/">BOSH SAHIFA</a></li>
            <li><a href="{% url 'markazlar' %}">DXM MANZILLARI</a></li>
            <li class="current"><a href="{% url 'gallery' %}">GALLERY</a></li>
            <li><a href="{% url 'about' %}">BIZNING MANZIL</a></li>
            {% if user.is_authenticated %}
                <input type='hidden'>
            {% else %}
                <li><a href="{% url 'login_user' %}">KIRISH</a></li>
                <li><a href="{% url 'signup' %}">REGISTR</a></li>
                </div>
                <div>
                <li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'user_account' %}"> SHAXSIY KABINET</a></li>
                <form action="{% url 'logout_user' %}" method="post" class="chiqish" style="display: inline-block">
                    {% csrf_token %}
                    <button type='submit' class="chiqish_tugma" value="">

                        CHIQISH<img id="chiqish" width="10%" height="25px"
                                    src="{% static 'blog/img/icon/chiqish22.png' %}" alt="">
                    </button>
                </form>
            {% endif %}
            </li>
            </div>
    </div>

{% endblock menu %}

{% block content %}
    <div class="container">
        <h1 style="color: white">Bu sahifa mavjud emas! (404)</h1>
    </div>
{% endblock %}