{% extends 'base.html' %}


{% block content %}
<h2 class="text-light mt-2 ">Kadastr pasportini ro`yxatdan o`tkazish</h2>
<form action="add" method="post" class="text-light">
    {% csrf_token %}
    <label>ID:
    <div>{{form.eid}}</div></label><br>
    <label>FIO:
    <div>{{form.ename}}</div></label><br>
    <label>ARIZA RAQAM:
    <div>{{form.epetition}}</div></label><br>
    <label>TELEFON:
    <div>{{form.econtact}}</div></label><br>
    <label>PLASTIK SERIYA:
    <div>{{form.eplastic}}</div></label><br>
    <label>SANA:
    <div>sana avtomatik tarzda kiritiladi!</div></label><br>
    <button type="submit" class="btn btn-success mt-3">Qo'shish</button>
    <a href="/" class="btn btn-danger mt-3">Bekor qilish</a>

</form>

{% endblock %}