{% extends 'base.html' %}
{% load static %}
{% block menu %}
<ul class="nav navbar-nav" >
                  <div >
                  <div class="nav navbar-nav" >
                    <li ><a href="/">BOSH SAHIFA</a></li>
                    <li><a href="{% url 'markazlar' %}">DXM MANZILLARI</a></li>
                    <li class="current"><a href="{% url 'gallery' %}">GALLERY</a></li>
                    <li><a href="{% url 'about' %}">BIZNING MANZIL</a></li>
                    {% if user.is_authenticated %}
                    <input type='hidden'>
                    {% else %}
                    <li><a href="{% url 'login_user' %}">KIRISH</a></li>
                    <li><a href="{% url 'signup' %}">REGISTR</a></li>
                  </div>
                  <div>
                    <li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user_account' %}"> SHAXSIY KABINET</a></li>
                    <form action="{% url 'logout_user' %}" method="post" class="chiqish" style="display: inline-block">
                      {% csrf_token %}
                      <button type='submit' class="chiqish_tugma"  value="">
                        
                      CHIQISH<img id="chiqish" width="10%" height="25px" src="{% static 'blog/img/icon/chiqish22.png' %}" alt="">
                      </button>
                    </form>
                    {% endif %}
                    </li>
                  </div></div>
                </ul>
{% endblock menu %}

{% block content %}
  	<!-- menu start -->	
  	
    <!-- gallery start -->
    	
        <div class="container ">
            <div class="asos-orqaga1" style="padding-bottom:    5px;"><a class="btn asos-orqaga" href="{% url 'gallery' %}" > 
                <div class="row" style="display: flex; flex-flow: row; align-items: baseline; justify-content: center;">
                    <div style="width: 40px;">
                        <img src="{% static 'blog/img/icon/orqaga.png' %}" alt="" height="20rem" max-width="10%">
                    </div>
                    <div class="asos-orqaga2" style="font-size: 20px; padding-left: 10px; letter-spacing: 2px;">
                        orqaga
                    </div>
                </div>
                    
            </a></div>
        	<div class="row ">
            	<div class="col-md-12">
                	<div class="templatemo_gallery_left shadow">
                		<div class="templatemo_gallerymid_title col-md-12">{{oneimage.sarlavha |safe}} &#10151; {{oneimage.matn |safe}}</div>
                        <div class="margin30">
                        <img src="{{oneimage.rasm.url}}" alt="gallery 1">
                        
                        </div>                      
                    </div>
                </div>
                
            </div>
        </div>
    	<!-- gallery end -->
    


{% endblock %}