{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %}
    <title>Siz uchun foydali videolar sahifasi</title>
{% endblock %}

{% block menu %}

    <ul class="nav navbar-nav">
        <div>
            <div class="nav navbar-nav">
                <li><a href="/">BOSH SAHIFA</a></li>
                <li><a href="{% url 'markazlar' %}">DXM MANZILLARI</a></li>
                <li class="current"><a href="{% url 'gallery' %}">GALLERY</a></li>
                <li><a href="{% url 'about' %}">BIZNING MANZIL</a></li>
                {% if user.is_authenticated %}
                    <input type='hidden'>
                {% else %}
                    <li><a href="{% url 'login_user' %}">KIRISH</a></li>
                    <li><a href="{% url 'signup' %}">REGISTR</a></li>
                    </div>
                    <div>
                    <li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_account' %}"> SHAXSIY KABINET</a></li>
                    <form action="{% url 'logout_user' %}" method="post" class="chiqish" style="display: inline-block">
                        {% csrf_token %}
                        <button type='submit' class="chiqish_tugma" value="">

                            CHIQISH<img id="chiqish" width="10%" height="25px"
                                        src="{% static 'blog/img/icon/chiqish22.png' %}" alt="">
                        </button>
                    </form>
                {% endif %}
                </li>
                </div>
        </div>
    </ul>
{% endblock menu %}

{% block content %}

    <!-- about start -->
    <div class="container">
        <div class="asos-orqaga1"><a class="btn asos-orqaga" href="{% url 'allvideo' %}">
            <div class="row" style="display: flex; flex-flow: row; align-items: baseline; justify-content: center;">
                <div style="width: 40px;">
                    <img src="{% static 'blog/img/icon/orqaga.png' %}" alt="" height="20rem" max-width="10%">
                </div>
                <div class="asos-orqaga2" style="font-size: 20px; padding-left: 10px; letter-spacing: 1px;">
                    orqaga
                </div>
            </div>

        </a></div>

        <div class="row">
            <div class="col-md-12" style="display: flex; flex-wrap: wrap; padding-top: 10px; justify-content: center;">
                <div class="row margin30">
                    <div class="">
                        <div class="templatemo_home_botleft shadow">
                            <div class="movie">
                                {% video videos.video '100%x420' %}
                                <div class="para">
                                    <div class="big ">{{ videos.title }}</div>
                                    <div class="text">
                                        <p>{{ videos.description|safe }}</p></div>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <br>
                    </div>

                </div>

{% endblock content %}