{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Rishton tuman Davlat xizmatlari markazi</title>
{% endblock %}

{% block menu %}
<ul class="nav navbar-nav" >
    <div >
        <div class="nav navbar-nav" >
            <li ><a href="/">BOSH SAHIFA</a></li>
            <li class="current"><a href="{% url 'markazlar' %}">DXM MANZILLARI</a></li>
            <li><a href="{% url 'gallery' %}">GALLERY</a></li>
            <li><a href="{% url 'about' %}">BIZNING MANZIL</a></li>
            {% if user.is_authenticated %}
            <input type='hidden'>
            {% else %}
            <li><a href="{% url 'login_user' %}">KIRISH</a></li>
            <li><a href="{% url 'signup' %}">REGISTR</a></li>
            </div>
            <div>
            <li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'user_account' %}"> SHAXSIY KABINET</a></li>
            <form action="{% url 'logout_user' %}" method="post" class="chiqish" style="display: inline-block">
                {% csrf_token %}
                <button type='submit' class="chiqish_tugma"  value="">
                
                CHIQISH<img id="chiqish" width="10%" height="25px" src="{% static 'blog/img/icon/chiqish22.png' %}" alt="">
                </button>
            </form>
            {% endif %}
            </li>
        </div>
    </div>
</ul>
{% endblock menu %}



    {% block content %}
<!-- about start -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="templatemo_about_top shadow">
                <div class="templatemo_about_top_title">DAVLAT XIZMATLARI MARKAZIDA AMALGA OSHIRILADIGAN XIZMAT TURLARI </div>
                <hr>
                <table class="table table-bordered mt-5 shadow">
                    {% csrf_token %}
                    <tr class="thead-light">
                        <th style="text-align: center;">№</th>
                        <th style="text-align: center;">DAVLAT XIZMATLARI NOMLANISHI</th>
                        <th style="text-align: center;">BAJARILISH MUDDATI</th>
                        <th style="text-align: center;">VAKOLATLI DAVLAT ORGANI</th>
                        <th style="text-align: center;">YIG'IM MIQDORI (BHM da)</th>
                        <th style="text-align: center;">DAVLAT BOJI MIQDORI (BHM da)</th>
                        <th style="text-align: center;">TARTIBGA SOLUVCHI NORMATIV-HUQUQIY HUJJAT</th>
                        <th style="text-align: center;">KERAKLI HUJJATLAR</th>
                    </tr>
                    {% for i in xizmatlar %}
                    
                        <tr class="table-light jadval-hover" style="" >
                            <td>{{i.id}}</td>
                            <td> <a href="{% url 'serviceone' i.id %}"> <i id="xizmatnomi"> {{i.xizmatNomi|safe}}</i></a></td>
                            <td>{{i.bajarilishMuddati|safe}}</td>
                            <td>{{i.vdo|safe | truncatechars:100}}</td>
                            <td>{{i.yigimMiqdori|safe}}</td>
                            <td>{{i.davlatBoji|safe}}</td>
                            <td>{{i.qaror|safe | truncatechars:100}}</td>
                            <td>{{i.kerakliHujjatlar|safe | truncatechars:100}}</td>
                        </tr>
                   
                    {% endfor %}
                
                </table>
                <div style="text-align: center;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                            {% if xizmatlar.has_previous %}
                            <a href="{% url 'services' %}?page={{xizmatlar.previous_page_number}}">Orqaga</a>
                            {% endif %}
                            </li>
        
                            {% for i in xizmatlar.paginator.page_range %}
                            <li class="page-item"><a class="page-link " href="?page={{i}}" >{{i}}</a></li>
                            {% endfor %}    
        
                            <li class="page-item">
                            {% if xizmatlar.has_next %}
                            <a href="{% url 'services' %}?page={{xizmatlar.next_page_number}}">Oldinga</a>
                            {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}